<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <img
        src="./assets/logo.png"
        alt="logo"
        width="80"
        height="80"
        routerLink="/menu"
      />
      <div class="pl-4">
        <h2 class="text-center">{{titulo}}</h2>
      </div>
    </nav>

    <div class="container text-center pt-5">
      <div class="row align-items-start text-left">
        <div class="col pb-5">
          <!--  -->
          <form [formGroup]="equipoForm" (ngSubmit)="agregarEquipo()">
            <h3>Serie:</h3>
            <input
              type="text"
              class="form-control"
              formControlName="serie"
              placeholder="123456789"
            />
            <h3>Marca:</h3>
            <input
              type="text"
              class="form-control"
              formControlName="marca"
              placeholder="HP, Dell, etc.."
            />
            <h3>Procesador:</h3>
            <input
              type="text"
              class="form-control"
              formControlName="procesador"
              placeholder="Intel Pentium 1500u , AMD Ryzen 3200g"
            />
            <h3>Cantidad de RAM:</h3>
            <select class="form-control" formControlName="ram">
              <option>1GB</option>
              <option>2GB</option>
              <option>4GB</option>
              <option>8GB</option>
              <option>16GB</option>
              <option>32GB</option>
              <option>64GB</option>
              <option>128GB</option>
            </select>
            <h3>Almacenamiento interno:</h3>
            <select class="form-control" formControlName="almacenamiento">
              <option>128gb</option>
              <option>240gb</option>
              <option>500gb</option>
              <option>980gb</option>
              <option>1TB</option>
              <option>2TB</option>
              <option>3TB</option>
            </select>
            <div class="row mt-2">
              <div class="col text-left">
                <button type="submit" class="btn btn-success">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer class="page-footer font-small">
      <div class="footer-copyright text-center py-3">
        <div class="texto-footer">
          <h6>© Copyright 2022 TecNM Campus Cuautla</h6>
          <h6>Todos los Derechos Reservados</h6>
          <h6>Departamento de Sistemas Computacionales</h6>
        </div>
      </div>
    </footer>
  </body>
</html>
